    <ul class="food-items fade-in">
      <li>🎂</li>
      <li>🍰</li>
      <li>🍩</li>
      <li>🍪</li>
      <li>🍮</li>
      <li>🥞</li>
      <li>🍞</li>
      <li>🥐</li>
      <li>🥖</li>
      <li>🥨</li>
    </ul>