<%
const thisYear = (new Date()).getFullYear();
%>
<footer class="">&copy; Roland Levy <%= thisYear %> <a href="https://rolandlevy.co.uk" class="new-tab-icon" target="_blank">see more of my projects</a></footer>