<form method="post" action="/inquiry-form">
  <ul>
    <li class="m-b-40">
      <input type="text" id="name" name="name" value="" placeholder="At least 3 characters" maxlength="128" required />
      <label for="name">Name <span class="required">*</span></label>
    </li>
    <li class="m-b-40">
      <input type="email" id="email" name="email" value="" placeholder="Eg: john.doe@gmail.com" maxlength="128" required />
      <label for="email">Email <span class="required">*</span></label>
    </li>
    <li class="m-b-20">
      <textarea id="message" name="message" placeholder="Your inquiry is..."  maxlength="512" required></textarea>
      <label for="message">Message <span class="required">*</span></label>
    </li>
    <li class="m-b-20">
      <label for="subscribe">Subscribe to our Newsletter</label>
      <input type="checkbox" id="subscribe" name="subscribe" />
    </li>
    <li class="m-b-20">
      <div id="recaptcha-element" class="recaptcha-transform"></div>
    </li>
    <li>
      <button type="submit" class="btn primary">
       Send <span class="icon send light">
      </button>
    </li>
  </ul>
</form>