<form method="post" action="/add">
  <ul>
    <li>
      <input type="text" id="name" name="name" value="Roland Levy" placeholder="Your name..." maxlength="32" required />
      <label for="name">Name<span class="required">*</span></label>
    </li>
    <li>
      <input type="email" id="email" name="email" value="rolandjlevy@gmail.com" placeholder="Your email..." maxlength="32" required />
      <label for="email">Email<span class="required">*</span></label>
    </li>
    <li>
      <textarea id="message" name="message" placeholder="Your message..."  maxlength="512" required>Hello world</textarea>
      <label for="message">Message<span class="required">*</span></label>
    </li>
    <li>
      <input type="checkbox" id="subscribe" name="subscribe" />
      <label for="subscribe">Subscribe</label>
    </li>
    <li>
      <input type="submit" value="Submit" class="btn primary">
    </li>
  </ul>
</form>