<meta charset="UTF-8">
<title>Tasty Treats</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:wght@400;900&Londrina+Solid:wght@100;300;400;900&Pacifico|Nunito|Open+Sans|Raleway|Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
<link rel="stylesheet" type="text/css" href="style.css">