:root {
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Nunito', 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Elsie Swash Caps', cursive;
  margin: 0;
  color: #00718d;
  text-align: center;
}

body {
  font-size: 1rem;
  background: linear-gradient(7deg, #ff5353, #ffc853 50%, #0082ec);
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
}

.container {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.subscribe-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 10px 30px 10px #00330033;
}

/********/
/* Form */
/********/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  padding: 20px 0 0 0;
  margin: 0;
}

li {
  position: relative;
}

li:not(:last-child) {
  margin-bottom: 40px;
}

li > input,
li > textarea {
  padding: 10px;
  width: 100%;
  background-color: #eee;
  border: none;
}

li > input + label,
li > textarea + label {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 0.75rem;
  color: #666;
}

li > label > span.required {
  color: red;
  font-weight: bold;
}

/***********/
/* Buttons */
/***********/

.btn {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
}

.btn.primary {
  background: #008cff;
  color: #fff;
}

.btn.primary:hover {
  background: #0074d3;
}

.btn.secondary {
  background: #9b9b9b;
  color: #000;
}

/**********/
/* Layout */
/**********/

.m-b-20 {
  margin-bottom: 20px;
}

/************/
/* FA icons */
/************/

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

.tick::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f14a";
  margin-left: 5px;
}

.trash::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f2ed";
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  background-color: #666;
  transition: background-color 0.25s ease;
}

.trash:hover::after {
  background-color: #000;
}