:root {
  --nav-height: 70px;
  --primary-blue-light: hsl(185, 100%, 80%);
  --primary-blue-mid-light: hsl(185, 100%, 50%);
  --primary-blue-mid: hsl(185, 100%, 40%);
  --primary-blue-dark: hsl(185, 100%, 30%);
  --primary-blue-darker: hsl(185, 50%, 20%);
  --primary-blue-deep: hsl(185, 50%, 15%);
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1rem;
}

body {
  font-size: 1rem;
  background: linear-gradient(7deg, #fff, var(--primary-blue-mid));
  margin: 0;
  padding: 0;
}

body.home {
  background: url(images/bakery.jpg);
}

body.inquiry-form {
  background: url(images/croissants.jpg);
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 10px 20px 0 #00000022;
  white-space: nowrap;
}

.container {
  margin: 0 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 600px;
}

.subscribe-form {
  background-color: #ffffffcc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 40px 10px #00000033;
  margin-top: calc(var(--nav-height) + 40px);
  transition: all 0.2s ease;
}

@media only screen and (min-width: 600px) {
  .subscribe-form {
    min-width: 400px;
  }
}

/**************/
/* Typography */
/**************/

h1, h2, h3, h4 {
  font-family: 'Elsie Swash Caps', cursive;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 2.75rem;
}

h2 {
  color: var(--primary-blue-darker);
  font-size: 2rem;
}

p {
  color: var(--primary-blue-darker);
  line-height: 1.5;
}

p.light {
  color: #fff;
}

a.link {
  color: var(--primary-blue-dark);
  font-weight: 800;
  text-decoration: none;
  border-bottom: 2px dotted var(--primary-blue-dark);
}

a.link:hover {
  border-bottom: 2px solid var(--primary-blue-dark);
}

/********/
/* Form */
/********/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  padding: 20px 0 0 0;
  margin: 0;
}

li {
  position: relative;
}

li:not(:last-child) {
  /* margin-bottom: 40px; */
}

li > input[type=text],
li > input[type=email],
li > textarea {
  padding: 10px;
  font-size: inherit;
  width: 100%;
  background-color: #fff;
  border: none;
}

li > label {
  font-size: 0.875rem;
  color: var(--primary-blue-darker);
}

li > input[type=text] + label,
li > input[type=email] + label,
li > textarea + label {
  position: absolute;
  left: 0;
  top: -25px;
}

li > label > span.required {
  color: red;
  font-weight: bold;
}

li > label,
li > input[type=checkbox] {
  cursor: pointer;
}

/******************/
/* Inquiries table */
/******************/

.inquiries-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

table.inquiries {
  border-spacing: 0;
}

table.inquiries > tbody > tr:nth-child(even) {
  background-color: #fff;
}
table.inquiries > tbody > tr:nth-child(odd) {
  background-color: #f3f3f3;
}

table.inquiries > thead > tr {
  background-color: var(--primary-blue-deep);
  color: #fff;
}

table.inquiries th,
table.inquiries td {
  font-weight: normal;
  padding: 12px;
}

table.inquiries th {
  text-align: left;
}

table.inquiries td:not(:last-child) {
  border-right: 1px solid #ddd;
}

/***********/
/* Buttons */
/***********/

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
  line-height: 1.25;
}

.btn.primary {
  background: var(--primary-blue-mid);
  color: #fff;
  padding: 10px;
  width: 100%;
}

.btn.primary:hover {
  background: var(--primary-blue-dark);
}

.btn.nav-link {
  background: #333;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: var(--primary-blue-mid-light);
  height: 30px;
  font-size: 0.875rem;
}

.btn.nav-link:hover,
.btn.nav-link.selected {
  background: #4c4c4c;
}

.btn.nav-link:not(:last-child) {
  margin-right: 10px;
}

/************/
/* FA icons */
/************/

.icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  color: var(--primary-blue-light);
}

.icon.home::after {
  content: "\f015";
}

.icon.inquiry::after {
  content: "\f086";
}

.icon.view::after {
  content: "\f06e";
}

.icon.edit::after {
  content: "\f044";
  color: var(--primary-blue-darker);
  font-size: 2rem;
}

.icon.new-tab::after {
  content: "\f35d";
}

.icon.error::after {
  content: "\f071";
  color: #fff;
  font-size: 2rem;
}

.icon.thumb-up::after {
  content: "\f164";
  color: #fff;
  font-size: 2rem;
}

.icon.tick::after {
  content: "\f14a";
  color: var(--primary-blue-mid);
}

.icon.trash::after {
  content: "\f2ed";
  color: var(--primary-blue-darker);
  padding: 5px;
  border-radius: 2px;
  transition: background-color 0.25s ease;
}

.icon.trash:hover::after {
  background-color: #ddd;
}

/**********/
/* Layout */
/**********/

.text-center {
  text-align: center;
}

.m-l-5 {
  margin-left: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

