:root {
  --nav-height: 80px;
  --primary-blue-lighter: hsl(185, 100%, 85%);
  --primary-blue-light: hsl(185, 100%, 80%);
  --primary-blue-mid-light: hsl(185, 100%, 45%);
  --primary-blue-mid: hsl(185, 100%, 40%);
  --primary-blue-dark: hsl(185, 100%, 30%);
  --primary-blue-darker: hsl(185, 50%, 25%);
  --primary-blue-deep: hsl(185, 50%, 15%);
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1rem;
}

body {
  font-size: 1rem;
  background: linear-gradient(0deg, #fff, var(--primary-blue-mid-light));
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.home {
  background: url(images/bakery.jpg);
}

body.inquiry-form {
  background: url(images/croissants.jpg);
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 10px 20px 0 #00000022;
  white-space: nowrap;
  z-index: 1;
}

.container {
  margin: 0 30px;
  margin-top: calc(var(--nav-height) + 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 600px;
}

.subscribe-form {
  background-color: #ffffffcc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 50px 10px #00000033;
  transition: all 0.2s ease;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .subscribe-form {
    max-width: 480px;
  }
}

@media only screen and (min-width: 300px) {
  :root {
    --nav-height: 20px;
  }
}

/**************/
/* Typography */
/**************/

h1, h2, h3, h4 {
  font-family: 'Elsie Swash Caps', cursive;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 2.75rem;
  text-shadow: 0 0 20px #000000;
}

h2 {
  color: var(--primary-blue-dark);
  font-size: 2rem;
}

h2.darker {
  color: var(--primary-blue-darker);
}

p {
  color: var(--primary-blue-darker);
  line-height: 1.5;
  text-align: center;
}

p.light {
  color: #fff;
}

a.link {
  color: var(--primary-blue-darker);
  font-weight: 800;
  text-decoration: none;
  border-bottom: 2px dotted var(--primary-blue-darker);
  transition: border-bottom 0.2s ease;
}

a.link:hover {
  border-bottom: 2px solid var(--primary-blue-darker);
}

a.link.view {
  font-size: 0.875rem;
  white-space: nowrap;
  font-weight: normal;
}

/********/
/* Form */
/********/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  padding: 20px 0 0 0;
  margin: 0;
}

li {
  position: relative;
}

li > input[type=text],
li > input[type=email],
li > textarea {
  padding: 10px;
  font-size: inherit;
  width: 100%;
  background-color: #fff;
  border: none;
}

li > textarea {
  min-height: 150px;
}

li > label {
  font-size: 0.875rem;
  color: var(--primary-blue-darker);
}

li > input[type=text] + label,
li > input[type=email] + label,
li > textarea + label {
  position: absolute;
  left: 0;
  top: -25px;
}

li > label > span.required {
  color: red;
  font-weight: bold;
}

li > label,
li > input[type=checkbox] {
  cursor: pointer;
}

/******************/
/* Inquiries table */
/******************/

.inquiries-wrapper {
  max-height: 500px;
  max-width: 1000px;
  overflow-y: auto;
  box-shadow: 0 0 100px 20px #00000033;
}

table.inquiries {
  border-spacing: 0;
}

table.inquiries > tbody > tr:nth-child(even) {
  background-color: #fff;
}

table.inquiries > tbody > tr:nth-child(odd) {
  background-color: #f3f3f3;
}

table.inquiries > thead > tr {
  background-color: var(--primary-blue-dark);
  color: #fff;
}

table.inquiries th,
table.inquiries td {
  font-weight: normal;
  padding: 8px;
  font-size: 0.875rem;
  line-height: 1.5;
  white-space: initial;
}

table.inquiries th {
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 0.75rem;
}

table.inquiries td:not(:last-child) {
  border-right: 1px solid #ddd;
}

table.inquiries td > span:first-child {
  background: var(--primary-blue-dark);
  color: #fff;
  letter-spacing: 1px;
  display: none;
  font-size: 10px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}

/* mobile-friendly table  */
@media only screen and (max-width: 768px) {
  body {
    overflow: initial;
  }
  .inquiries-wrapper {
    max-height: auto;
    overflow-y: initial;
    box-shadow: none;
  }
  table.inquiries > thead {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }
  table.inquiries > tbody > tr {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  table.inquiries > tbody > tr:nth-child(even),
  table.inquiries > tbody > tr:nth-child(odd) {
    /* background-color: #fcfcfc; */
  }
  table.inquiries > tbody > tr > td:nth-child(1),
  table.inquiries > tbody > tr > td:nth-child(2),
  table.inquiries > tbody > tr > td:nth-child(5),
  table.inquiries > tbody > tr > td:nth-child(6) {
    background-color: #fff;
  }
  table.inquiries > tbody > tr > td:nth-child(3),
  table.inquiries > tbody > tr > td:nth-child(4) {
    background-color: #f3f3f3;
  }
  table.inquiries td {
    border: 1px solid #ccc;
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: 50%;
    font-size: 0.875rem;
  }
  table.inquiries td:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  table.inquiries td > span:first-child {
    display: inline-block;
  }
}

/***********/
/* Buttons */
/***********/

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
  line-height: 1.25;
}

.btn.primary {
  background: var(--primary-blue-mid);
  color: #fff;
  padding: 10px;
  width: 100%;
}

.btn.primary:hover {
  background: var(--primary-blue-dark);
}

.btn.nav-link {
  background: #333;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: var(--primary-blue-mid-light);
  height: 30px;
  font-size: 0.75rem;
  font-weight: normal;
  box-shadow: 0 0 20px 0 #000;
}

.btn.nav-link:hover,
.btn.nav-link.selected {
  background: #4c4c4c;
}

.btn.nav-link:not(:last-child) {
  margin-right: 10px;
}

/************/
/* FA icons */
/************/

.icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  color: var(--primary-blue-light);
}

.icon.home::after {
  content: "\f015";
}

.icon.inquiry::after {
  content: "\f086";
}

.icon.inquiry.large::after {
  font-size: 2rem;
  color: var(--primary-blue-dark);
}

.icon.view::after {
  content: "\f06e";
}

.icon.view.large::after {
  font-size: 2rem;
}

.icon.edit::after {
  content: "\f044";
  color: var(--primary-blue-darker);
  font-size: 2rem;
}

.icon.new-tab::after {
  content: "\f35d";
}

.icon.error::after {
  content: "\f071";
  color: #fff;
  font-size: 2rem;
}

.icon.thumb-up::after {
  content: "\f164";
  color: #fff;
  font-size: 2rem;
}

.icon.tick::after {
  content: "\f14a";
  color: var(--primary-blue-mid);
}

.icon.send::after {
  content: "\f1d8";
}

.icon.send.light::after {
  color: #fff;
}

.icon.trash::after {
  content: "\f2ed";
  color: var(--primary-blue-darker);
  padding: 5px;
  border-radius: 2px;
  transition: background-color 0.25s ease;
}

.icon.trash:hover::after {
  background-color: #ddd;
}

/**********/
/* Layout */
/**********/

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.m-l-5 {
  margin-left: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}


/**************/
/* Animations */
/**************/

.fade-in, .slide-in {
  opacity: 1;
  transform: translateY(0);
  animation-name: fade;
  animation-delay: 0.25s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.fade-in {
  opacity: 0;
}

.slide-in {
  transform: translateY(-75px); 
}

@keyframes fade {
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

.cake {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  transform: rotate(5deg);
  transform-origin: 50% 50%;
  animation-name: spin;
  animation-delay: 0.25s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

ul.food-items > li:hover,
.cake:hover {
  animation-name: spin-infinite;
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(55deg); }
  5% { transform: rotate(-55deg); }
  10% { transform: rotate(50deg); }
  15% { transform: rotate(-50deg); }
  20% { transform: rotate(45deg); }
  25% { transform: rotate(-45deg); }
  30% { transform: rotate(40deg); }
  35%{ transform: rotate(-40deg); }
  40%{ transform: rotate(35deg); }
  45%{ transform: rotate(-35deg); }
  50% { transform: rotate(30deg); }
  55% { transform: rotate(-30deg); }
  60% { transform: rotate(25deg); }
  65% { transform: rotate(-25deg); }
  70% { transform: rotate(20deg); }
  75% { transform: rotate(-20deg); }
  80%{ transform: rotate(15deg); }
  85%{ transform: rotate(-15deg); }
  90%{ transform: rotate(10deg); }
  95%{ transform: rotate(-10deg); }
  100% { transform: rotate(5deg); }
}

@keyframes spin-infinite {
  0%, 100% { 
    transform: rotate(10deg); 
  }
  50% { 
    transform: rotate(-10deg); 
  }
}

/**************/
/* Food items */
/**************/

ul.food-items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

ul.food-items > li {
  font-size: 2rem;
  margin: 5px;
  text-shadow: 0 5px 10px #00000066;
}

/*************/
/* Recaptcha */
/*************/

@media only screen and (max-width: 480px) {
  .recaptcha-transform {
    transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (max-width: 360px) {
  .recaptcha-transform {
    transform:scale(0.65);
    -webkit-transform:scale(0.65);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}
