<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h2 class="">Error</h2>
  <section>
    <p>User <%= error %></p>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="script.js"></script>

</body>
</html>