<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container">
  <section class="subscribe-form">
    <h2 class="m-b-20">Subscribe to our Newsletter</h2>
    <%- include('../partials/form') %>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="script.js"></script>

</body>
</html>